{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container home">
		<h1>Bienvenue sur notre application</h1>
		<p>Ceci est la page d'accueil de notre application Symfony.</p>
		<p>Vous pouvez commencer par naviguer à travers les différentes fonctionnalités :</p>

		{# Inscrivez vous ou connectez vous #}
		{% if not app.user %}
			<div class="flex connexion">
				<ul>
					<li><a href="{{path('app_register')}}">S'Inscrire</a></li>
					<li><a href="{{path('app_login')}}">Se Connecter</a></li>
				</ul>
			</div>
		{% endif %}

		<!-- Si l'utilisateur est connecté -->
		{% if app.user %}
			<div class="flex">
				<ul class="disabled">
					<h3>Patients</h3>
					<li>
						<a href="{{ path('app_patients_index') }}">dossier médicaux</a>
					</li>
					<li>
						<a href="{{ path('app_patients_index') }}">calendrier de rendez-vous</a>
					</li>
				</ul>
				<ul class="disabled">
					<h3>Fiches</h3>
					<li>
						<a href="{{ path('app_patient_new') }}">Spécialités</a>
					</li>
					<li>
						<a href="{{ path('app_patient_new') }}">Formations</a>
					</li>
					<li>
						<a href="{{ path('app_patient_new') }}">Nouvelles fiches à valider</a>
					</li>
				</ul>
				<ul class="disabled">
					<h3>Administration</h3>
					<li>
						<a href="{{ path('app_ventes_liste') }}">Dispatch</a>
					</li>
					<li>
						<a href="{{ path('app_ventes_liste') }}">Divers</a>
					</li>
					<li>
						<a href="{{ path('app_ventes_liste') }}">Direction (réservé au comité de direction)</a>
					</li>
				</ul>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
const closeButton = document.querySelector('.btn-close');
if (closeButton) {
closeButton.addEventListener('click', function () { // Trouvez l'élément parent de l'alerte
const alert = this.closest('.alert');
// Masquer l'alerte en ajoutant la classe 'd-none' si l'élément parent existe
if (alert) {
alert.classList.add('d-none');
}
});
}
});
	</script>
{% endblock %}
