{% extends 'base.html.twig' %}

{% block title %}
	Produits
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Produits</h1>

		<div class="row">
			{% for produit in produits %}
				<div class="col-md-3 mb-4">
					<div class="card">
						<img src="{{ asset('uploads/images/' ~ produit.image) }}" class="card-img-top" alt="{{ produit.name }}">
						<div class="card-body">
							<h5 class="card-title">{{ produit.name }}</h5>
							<p
								class="card-text mt-3">
								{# Si le texte de la description est > 50 alors ... #}
								{% if produit.description|length > 50 %}
									{{ produit.description|slice(0, 50) }}...
								{% else %}
									{{ produit.description }}
								{% endif %}
							</p>
							<p class="card-text">Price:
								<strong>{{ produit.price }}€</strong>
							</p>
							<p class="card-text">Créé le:
								{# Date et heure  #}
								{{ produit.createdAt|date('d/m/Y H:i') }}
							</p>
							<p class="card-text">Mis a jour le :
								{# Date et heure  #}
								{{ produit.updatedAt|date('d/m/Y H:i') }}
							</p>
							<div class="flex boutton-card">
								<a href="{{ path('app_produits_show', {'id': produit.id}) }}" class="btn btn-primary">Voir</a>
								<a href="{{ path('app_produits_edit', {'id': produit.id}) }}" class="btn btn-warning">Modifier</a>
								{{ include('produits/_delete_form.html.twig') }}
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col">
					<p>Aucun produit trouvé.</p>
				</div>
			{% endfor %}
		</div>
		<a class="btn btn-success" href="{{ path('app_produits_new') }}">Créer un nouveau produit</a>
		<a class="btn btn-secondary" href="{{ path('app_home') }}">Retour à l'accueil</a>
		{# Si on est sur /categorie-produit afficher le boutton #}
		{% if app.request.attributes.get('_route') == 'app_produits_categorie' %}
			<a class="btn btn-secondary" href="{{ path('app_produits_index') }}">Retour à tous les produits</a>
		{% endif %}
	</div>
{% endblock %}
